{% extends "base-user.html" %}{% block main_content_section %}
<h2 class="ui center aligned icon header">
	<i class="shopping cart icon"></i>
	<div class="content">
		My Shopping cart.
		<div class="sub header">
			Manage your shopping cart.
		</div>
	</div>
</h2>
<form method="POST" action="{{url_for('.checkout')}}">
	<div class="ui segments"></div>
	<button class="ui fluid big orange labeled icon button">
		<i class="payment icon"></i>去结算
	</button>
</form>
<div style="padding-bottom: 50px;"></div>
{% endblock %}
{% block bottom_nav_section %}
{% include "includes/bottom_fixed.html" %}
{% endblock %}
{% block special_script_section %}
{% endblock %}
{% block inline_script_section %}
<script>
$(document).ready(function(){
	window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
	var $db;
	var request = window.indexedDB.open('ShoppingCart', 1);
	request.onupgradeneeded = function (event) {
		$db = event.target.result;
		$db.createObjectStore("products", {keyPath: ["code", "parameters"], indexNames: ["amouont", "image"]});
	};

	request.onerror = function(event) {
		console.log('open indexeddb failed');
	};

	request.onsuccess = function(event) {
		$db = event.target.result;
		console.log('open indexeddb successfully');

		var trans = $db.transaction("products", "readwrite");
		trans.oncomplete  = function(event) {
			console.log("All done!");
		};
		trans.onerror = function(event) {
			console.log("transaction failed");
		};
		var objectStore = trans.objectStore("products");
		objectStore.openCursor().onsuccess = function(e) {
			var cursor = e.target.result;
			if (cursor) {
				var $segment = $('<div class="ui basic segment"></div>');
				var $item = $('<div class="ui image middle aligned header"></div>');
				var $checkdiv = $('<div class="ui checkbox"></div>');
				var $checkbox = $('<input type="checkbox" checked="checked"></input>');
				var $image = $('<img class="ui tiny image"></img>');
				var $content = $('<div class="content"></div>');
				var $sub_header = $('<div class="sub header"></div>');
				var $meta = $('<div class="sub header"></div>');
				var $amount_div = $('<div class="ui mini action input"></div>');
				var $amount_input = $('<input name="amount" type="text" size="2" readonly></input>');
				var $amount_minus = $('<div class="ui mini icon button"><i class="minus icon"></i></div>');
				var $amount_plus = $('<div class="ui mini icon button"><i class="plus icon"></i></div>');
				var $remove_btn = $('<div class="ui mini circular icon negative button"><i class="remove icon"></i></div>');
				var code = cursor.value.code;
				var parameters = JSON.parse(cursor.value.parameters);
				var metas = "";
				for (var para of parameters) {
					//console.log(para);
					metas += para.name + " ";
				}
				$meta.html(metas);
				$checkbox.attr("name", "tobuy-" + cursor.value.code);
				$checkbox.appendTo($checkdiv);
				$sub_header.html('￥' + cursor.value.price);
				$image.attr("src", cursor.value.image);
				$content.html(cursor.value.name);

				$amount_input.appendTo($amount_div);
				$amount_input.attr('value', cursor.value.amount);
				$amount_minus.appendTo($amount_div);
				$amount_plus.appendTo($amount_div);

				$sub_header.appendTo($content);
				$meta.appendTo($content);

				$checkdiv.appendTo($item);
				$image.appendTo($item);
				$content.appendTo($item);

				$item.appendTo($segment);
				$amount_div.appendTo($segment);
				$remove_btn.appendTo($segment);

				var $input_product = $('<input type="hidden" name="product"></input>').attr('value', JSON.stringify(cursor.value));

				$segment.appendTo($('.ui.segments'));

				$form = $('form:first');
				$input_product.appendTo($form);

				$remove_btn.click(function(e){
					// need to reopen transcation
					var trans = $db.transaction(["products"], "readwrite");
					trans.oncomplete  = function(event) {
						console.log("Remove done!");
					};
					var objectStore = trans.objectStore("products");
					var req = objectStore.delete([code, JSON.stringify(parameters)]);
					req.onsuccess = function(e) {
						$segment.remove();
					};
					req.onerror = function(e) {
						console.log('delete failed');
					};
				});

				$amount_minus.click(function(e){
					// need to reopen transcation
					var trans = $db.transaction(["products"], "readwrite");
					trans.oncomplete  = function(event) {
						console.log("substract done!");
					};
					var objectStore = trans.objectStore("products");
					var req = objectStore.get([code, JSON.stringify(parameters)]);
					req.onsuccess = function(e) {
						var data = e.target.result;
						if (data.amount > 1) {
							data.amount -= 1;
							var req_update = objectStore.put(data);
							req_update.onsuccess = function(e){
								$amount_input.attr('value', data.amount);
							};
						}
					};
					req.onerror = function(e) {
						console.log('substract failed');
					};
				});

				$amount_plus.click(function(e){
					// need to reopen transcation
					var trans = $db.transaction(["products"], "readwrite");
					trans.oncomplete  = function(event) {
						console.log("plus done!");
					};
					var objectStore = trans.objectStore("products");
					var req = objectStore.get([code, JSON.stringify(parameters)]);
					req.onsuccess = function(e) {
						var data = e.target.result;
						data.amount += 1;
						var req_update = objectStore.put(data);
						req_update.onsuccess = function(e){
							$amount_input.attr('value', data.amount);
						};
					};
					req.onerror = function(e) {
						console.log('plus failed');
					};
				});

				cursor.continue();
			} else {
				console.log("no more entries!");
			}
			$('.ui.checkbox').checkbox();
		};
	};
	$('.ui.checkbox').checkbox();
});
</script>
{% endblock %}
