{% extends "base-user.html" %}
{% block main_content_section %}
<h2 class="ui center aligned icon header">
	<i class="shopping cart icon"></i>
	<div class="content">
		My Shopping cart.
		<div class="sub header">
			Manage your shopping cart.
		</div>
	</div>
</h2>
<form method="POST" action="/shop/checkout">
	<div class="ui segments" id="product-area">{#
		<div class="ui segment">
			<div class="ui image middle aligned header">
				<div class="ui checkbox">
					<input type="checkbox" checked><input type="hidden" name="product-code" value="">
				</div>
				<img src="/gallery/media/1468825061.2163908.jpg" class="ui tiny image">
				<div class="content">
					product.name
					<div class="sub header">￥product.price</div>
				</div>
			</div>
			<div class="ui mini icon input">
				<input type="text" size="1" name="amount" value="1">
				<div class="ui buttons">
					<button class="ui mini icon button" type="button"><i class="minus icon"></i></button>
					<button class="ui mini icon orange button" type="button"><i class="plus icon"></i></button>
				</div>
			</div>
		</div>#}
	</div>
	<button id="pay-button" class="ui fluid big orange labeled icon button">
		<i class="payment icon"></i>去支付
	</button>
</form>
<div style="padding-bottom: 50px;"></div>
{% endblock %}
{% block bottom_nav_section %}
{% include "includes/bottom_fixed.html" %}
{% endblock %}
{% block special_script_section %}
	<script src="{{url_for('static', filename='js/shop.js')}}"></script>
{% endblock %}
{% block inline_script_section %}
<script>
$(document).ready(function(){
	var cart = new Cart('cart', 'session');
	//for (var product of cart.products) {
	for (var i=0; i < cart.products.length; i++) {
		var product = cart.products[i];
		var price = product.price;
		var $parameters = product.parameters;
		var parameter_name = '';
		for (var para of $parameters) {
			if (para != null) {
			price += para.price;
			parameter_name += para.code + ' ';
			}
		}
		var line = '<div class="ui basic segment"><div class="ui image middle aligned header">'
					+ '<div class="ui checkbox"><input name="is-buy-'
                    + product.code + '" type="checkbox" checked><input type="hidden" name="product-code" value="'
				   + product.code
				   +'"></div><img src="'
				   + product.image
				   + '" class="ui tiny image"><div class="content">'
				   + product.name
				   + '<div class="sub header">￥'
				   + product.price()
				   + '</div><div class="meta">'+parameter_name+'</div></div></div><div class="ui mini input"><input type="text" size="2" name="amount" value="'
				   + product.amount
				   + '"></div>\n<div class="ui mini buttons"><button class="ui icon button" type="button"><i class="minus icon"></i></button><button class="ui icon orange button" type="button"><i class="plus icon"></i></button></div></div>';
		$("#product-area").append(line);
		$("#pay-button").html('<i class="payment icon"></i>总消费额: ' + cart.calTotal() + '元，去支付');
	}
	$('.ui.checkbox').checkbox();
});
</script>
{% endblock %}
