{% extends "base-user.html"%}
{% block main_content_section %}
<h2 class="ui center aligned icon header">{#ui centered#}
	<i class="payment icon"></i>
	<div class="content">
		订单信息
		<div class="sub header">确认商品及数量，确认送货时间和收货地址</div>
	</div>
</h2>
<form class="ui form" action="/shop/dopay" method="POST">
	<div class="ui segments">
		{% for product in products %}<div class="ui segment">
			<div class="ui image middle aligned header">
				<img src="/gallery/media/{{product.images[0].image.name}}.{{product.images[0].image.ext}}" class="ui tiny image">
				<input type="hidden" name="product-code" value="{{product.code}}">
				<div class="content">
					{{product.name}}
					<div class="sub header">￥{{product.price}}</div>
					<div class="sub header">购买数量: {{amounts[loop.index0]}}</div>
					<input type="hidden" name="amount" value="{{amounts[loop.index0]}}">
				</div>
			</div>
		</div>{% endfor %}
	</div>
	<div class="ui segments">
		<div class="ui segment">
			<div class="ui middle aligned image header">
				<i class="marker icon"></i>
				<div class="content">
					李沧区九水路227号一层
					<div class="sub header">李旭升 58806365</div>
				</div>
			</div>
			<div class="ui right floated icon label button">
				<i class="marker icon"></i>
				更换配送地址
			</div>
		</div>
		<div class="ui segment">
			<div class="required inline field">
				<label>使用日期</label>
				<input name="date" type="date">
			</div>
		</div>
		<div class="ui segment">
			<div class="required inline field">
				<label>用餐时间</label>
				<input name="time" type="time">
			</div>
		</div>
		<div class="ui segment">
			<div class="field">
				<label>留言</label>
				<textarea rows="2"></textarea>
			</div>
		</div>{#
		<div class="inline fields">
			<label for="payment">支付方式</label>
			<div class="field">
				<div class="ui radio checkbox">
					<input class="hidden" tabindex="0" name="payment" type="radio">
					<label>支付宝</label>
				</div>
			</div>
			<div class="field">
				<div class="ui radio checkbox">
					<input class="hidden" tabindex="1" name="payment" checked type="radio">
					<label>微信支付</label>
				</div>
			</div>
		</div>#}
		<div class="ui segment">
			<button class="ui fluid orange right labeled icon huge button">
				<i class="payment icon"></i>需支付￥{{total_cost}}元
			</button>
		</div>
	</div>
</form>
{% endblock %}
{% block inline_script_section %}
<script>
//$('.ui.radio.checkbox').checkbox();
</script>
{% endblock %}
