{% extends "base-user.html" %}
{% block main_content_section %}
<div class="ui basic segment">
	{% if message %}
	<div class="ui info icon message">
		<i class="info icon"></i>
		<div class="content">
		<div class="header">
			{{product.name}}
		</div>
		<p>加入到购物车，请到购物车查看</p>
		</div>
	</div>
	{% endif %}
	<img id="banner-image" class="ui big image" src="/gallery/media/{{product.images[0].image.name}}.{{product.images[0].image.ext}}"><p/>
    <div class="ui tiny images">{% for pi in product.images %}
        <img src="/gallery/media/{{pi.image.name}}.{{pi.image.ext}}">
        {% endfor %}
    </div>
	<form action="{{url_for('.add_to_cart')}}" method="POST">
    <h3 class="ui header">
        <div class="content">
			{{product.name}}
          <div class="sub header" id="product-price">
              ￥{{product.price}}
          </div>
        </div>
    </h3>
	<p>{{product.description}}</p>{#
    <div class="ui labeled mini input">
        <div class="ui label">购买数量</div>
        <input id="amount" value="1" maxlength="5" size="6" placeholder="1" type="text">
    </div>
    <div class="ui mini buttons">
        <button class="ui icon button" type="button">
            <i class="minus icon"></i>
        </button>
        <button class="ui icon orange button" type="button">
            <i class="plus icon"></i>
        </button>
    </div>#}
	<input type="hidden" name="product-code" value="{{product.code}}">
	{% if parameter_categories %}
	{% for key,values in parameter_categories.items() %}
	<h4 class="ui sub header">
		<div class="content">
			选择{{key}}
		</div>
	</h4>
	<span id="product-parameters">
	{% for value in values %}
	<div class="ui basic toggle button" data-code="{{value.parameter_id}}" data-price="{{value.plus_price}}">{{value.parameter}}</div>
	{% endfor %}
	</span>
	{% endfor %}
	{% endif %}
	<h4 class="ui sub header"></h4>
	<div class="ui fluid orange right labeled icon huge button">
		<i class="add to cart icon"></i>添加到购物车
	</div>
	</form>
</div>
{% include "includes/delivery.html" %}
<div style="padding-bottom: 40px;"></div>
{% endblock %}
{% block bottom_nav_section %}
{% include "includes/bottom_fixed.html" %}
{% endblock %}
{% block special_script_section %}
<script src="{{url_for('static', filename='js/shop.js')}}"></script>
{% endblock %}
{% block inline_script_section %}
<script>
$(document).ready(function(){
	var $toggle = $('div.toggle.button');
	var $active = 'orange';
	var parameters = [];
	var $price = {{product.price}};
	handler = {
		activate: function(){
			if ($(this).hasClass($active)) {
				$(this).removeClass($active).addClass('basic');
				parameters.pop();
			} else {
				$(this).addClass($active).removeClass('basic')
					.siblings().removeClass($active).addClass('basic');

				parameters.push({code: $(this).data('code'), name: $(this).html()});
			}
			$toggle.each(function() {
				if ($(this).hasClass($active)) {
					$price += parseFloat($(this).data('price'));
				}
			});
			$('#product-price').html('￥' + $price);
		}
	};
	$toggle.click(handler.activate);
	$banner = $("#banner-image");
	$(".ui.tiny.images img").click(function(){
		var src = $(this).attr('src');
		if ($banner.attr('src') != src) {
			$banner.fadeOut('fast', function(){
				$banner.attr('src', src);
			});
			$banner.fadeIn('fast');
		}
	});

	$('.ui.fluid.button').click(function(e){
		// add product to cart
		var code = "{{product.code}}";
		var image = "/gallery/media/{{product.images[0].image.name}}.{{product.images[0].image.ext}}";
		// IndexedDB
		window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
		var $db;
		var request = window.indexedDB.open('ShoppingCart', 1);
		request.onerror = function(event) {
			console.log('open indexeddb failed');
		};
		request.onupgradeneeded = function (event) {
			$db = event.target.result;
			$db.createObjectStore("products", {keyPath: ["code", "parameters"], indexNames: ["parameters", "amouont", "image"]});
		};

		request.onsuccess = function(event) {
			$db = event.target.result;
			console.log('open indexeddb successfully');

			var trans = $db.transaction("products", "readwrite");
			trans.oncomplete  = function(event) {
				console.log("All done!");
			};
			trans.onerror = function(event) {
				console.log("transaction failed");
			};
			var objectStore = trans.objectStore("products");
			var parameter_string = JSON.stringify(parameters);
			var item = objectStore.get([code, parameter_string]);
			item.onsuccess = function() {
				if (item.result === undefined) {
					objectStore.add({code: code, parameters: parameter_string,
									 name: "{{product.name}}", image: image,
									 amount: 1, price: $price});
				} else {
					product = item.result;
					product.amount += 1;
					objectStore.put(product);
					console.log(product);
				}
			};
			item.onerror = function() {
				console.log("Failed in getting item from objectStore!");
			};
		};
	});
});
</script>
{% endblock %}
