{% extends "base-user.html"%}
{% block main_content_section %}
<h2 class="ui center aligned icon header">{#ui centered#}
	<i class="payment icon"></i>
	<div class="content">
		订单编号
        <div class="sub header">{{ticket.code}}</div>
	</div>
</h2>
<div class="ui basic segment">
    {% for tp in ticket.products %}<div class="ui image middle aligned header">
        <img src="/gallery/media/{{tp.product.images[0].image.name}}.{{tp.product.images[0].image.ext}}" class="ui small image">
        <div class="content">
            {{tp.product.name}}
            <div class="sub header">￥{{tp.product.price}}</div>
            {%if tp.parameters%}<div class="sub header">{% for p in tp.parameters %}{{p["name"]}}{%endfor%}</div>{%endif%}
            <div class="sub header">数量: {{tp.amount}}</div>
        </div>
    </div>{% endfor %}
    <div class="ui items">
        <div class="item">
            <div class="content" id="target-location">
                <div class="header">{{ticket.address.contact_name}}</div>
                <div class="meta">{{ticket.address.mobile}}</div>
                <div class="description">{{ticket.address.address}}</div>
            </div>
        </div>
    </div>
    {% if not ticket.pay_datetime and not ticket.payments %}
		<div class="ui fluid orange labeled icon huge button" id="pay-button">
			<i class="payment icon"></i>去支付
		</div>
	{% else %}
	<a class="ui fluid orange labeled icon huge button" href="{{url_for('.myinfo')}}">
        <i class="home icon"></i>返回
    </a>
    {% endif %}
</div>
{% endblock %}
{% block special_script_section %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% endblock %}
{% block inline_script_section %}
<script>
wx.config({
    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{{weixin.get("appId")}}', // 必填，公众号的唯一标识
    timestamp: {{weixin.get("timeStamp")}}, // 必填，生成签名的时间戳
    nonceStr: '{{weixin.get("nonceStr")}}', // 必填，生成签名的随机串
    signature: '{{weixin.get("signature")}}',// 必填，签名，见附录1
    jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});
wx.ready(function() {
    $('#pay-button').click(function(){
        $.ajax({
            type: 'POST',
            url: '{{url_for(".unified_order")}}',
            data: {'ticket-code': '{{ticket.code}}'},
            statusCode: {
                201: function(data){
                    var result = JSON.parse(data);
                    wx.chooseWXPay({
                        timestamp: result.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                        nonceStr: result.nonceStr, // 支付签名随机串，不长于 32 位
                        package: result.package, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                        signType: result.signType, // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                        paySign: result.signature, // 支付签名
                        success: function (res) {
                            var str = JSON.stringfy(res);
                            // 支付成功后的回调函数
                            if(res.errMsg == "chooseWXPay:ok"){
                                alert("支付成功！");
                            }else{
                                alert("支付失败！");
                            }
                        }
                    });
                }
            }
        });
    });
});

wx.error(function(res){
    console.log('weixin pay load eror');
});
</script>
{% endblock %}
