{% extends "base-user.html"%}
{% block main_content_section %}
	<h2 class="ui center aligned icon header">{#ui centered#}
		{#
	<div class="image">
		<img src="/static/img/logo/caro.jpg">
	</div>
	#}
	<i class="ticket icon"></i>
	<div class="content">
		Pay Successfully
		<div class="sub header">
			Verify order details.
		</div>
	</div>{#
	<div class="extra content">
		<span>
			<i class="birthday icon"></i>
			{{products|length}} Products
		</span>
		<span class="right floated">
			<i class="registered icon"></i>
			 Since August 2014
		</span>
	</div>#}
	</h2>
<!-- page start-->
	<table class="ui unstackable table">
		<tbody>
			{% for product in products %}
			<tr>
				<td>
					<div class="ui image top aligned header">
						<img src="{{product.image}}" class="ui small rounded image">
					</div>
				</td>
				<td>
					<div class="content">
						{{product.name}} - <span class="ui label">￥{{product.price}}</span>
						<div class="sub header">数量: 1</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="ui divided selection list">
		<a class="item">
			使用日期
			<div class="ui horizontal label">2017-12-23</div>
		</a>
		<a class="item">
			具体时间
			<div class="ui horizontal label">23:59:59</div>
		</a>
		<p class="item">
			留言
			<div class="ui label">dddddddddd
				ddddddddddd ddddddddddddddd dddddddddddddddd ddddddddddddddddd dddddddddddddddd ddddddddddddddddd</div>
		</p>
	</div>
	</div>
</form>
{% endblock %}
{% block inline_script_section %}
{% endblock %}
