{% extends "base-user.html"%}
{% block main_content_section %}
<h2 class="ui center aligned icon header">{#ui centered#}
	<i class="payment icon"></i>
	<div class="content">
		订单信息
		<div class="sub header">确认商品及数量，确认送货时间和收货地址</div>
	</div>
</h2>
<form class="ui form" action="{{url_for('.order')}}" method="POST" id="action-form">
	{% for item in items %}<div class="ui basic segment">
		{% set product = item[0] %}{% set amount = item[3] %}
		<div class="ui image middle aligned header">
			<img src="/gallery/media/{{product.images[0].image.name}}.{{product.images[0].image.ext}}" class="ui small image">
			<input type="hidden" name="product" value="{{product.code}}">
			<div class="content">
				{{product.name}}
				<div class="sub header">￥{{product.price}}</div>
				{% if item[1] %}<div class="sub header">{%for p in item[1]%}{{p.parameter.name}}{%endfor%}</div>{%endif%}
				<div class="sub header">数量: {{amount}}</div>
                <input type="hidden" name="parameter" value="{%if item[1]%}{{items[1]}}{%endif%}">
				<input type="hidden" name="amount" value="{{amount}}">
			</div>
		</div>
	{% endfor %}
		<div class="ui items">
			<div class="item">{% if user.addresses.all() %}
				<div class="content" id="target-location">
					<div class="header">{{user.addresses[0].contact_name}}</div>
					<div class="meta">{{user.addresses[0].mobile}}</div>
					<div class="description">{{user.addresses[0].address}}</div>
					<div class="extra" id="location-btn">
						<div class="ui tiny right floated button">
						更换配送地址
						<i class="right chevron icon"></i>
						</div>
					</div>
				</div>
				<input type="hidden" name="target-location" value="{{user.addresses[0].id}}">
				<input style="display:none;" name="contact" type="text" value="{{user.addresses[0].contact_name}}">
				<input style="display:none;" name="mobile" type="text" value="{{user.addresses[0].mobile}}">
				<input style="display:none;" name="address" type="text" value="{{user.addresses[0].address}}">
				{%else%}<div class="content" id="target-location">
					<div class="header">需要选择地址</div>
					<div class="meta"></div>
					<div class="description"></div>
					<div class="extra" id="location-btn">
						<div class="ui tiny right floated button">
						更换配送地址
						<i class="right chevron icon"></i>
						</div>
					</div>
					<input type="hidden" name="target-location">
				</div>
				<input style="display:none;" name="contact" type="text">
				<input style="display:none;" name="mobile" type="text">
				<input style="display:none;" name="address" type="text">
				{% endif %}
			</div>
		</div>
		<div class="ui error message"></div>
		<div class="two fields">
			<div class="required field">
				<label>使用日期</label>
				<input name="date" type="date">
			</div>
			<div class="required field">
				<label>用餐时间</label>
				<input name="time" type="time">
			</div>
		</div>{#
		<div class="required field">
			<label>蜡烛</label>
			<input name="candy" type="text">
		</div>#}
		<div class="field">
			<label>留言</label>
			<textarea rows="2" name="note"></textarea>
		</div>
		<div class="ui info icon message">
			<i class="info icon"></i>
			<div class="content">
				<div class="header">
					注意事项
				</div>
				<p>使用日期：食用蛋糕的日期</p>
				<p>用餐时间：请在收到蛋糕后2小时内食用完</p>
				<p>本店蛋糕是纯天然乳脂奶油蛋糕，不加入任何的稳定剂和防腐剂，温度稍高一点，就容易融化；需要放置到冰箱的<strong>保鲜层</strong>；在保鲜层也只能保质48小时!</p>
			</div>
		</div>
		<button class="ui fluid orange right labeled icon huge button">
			<i class="payment icon"></i>生成订单
		</button>
	</div>
</form>
<div class="ui coupled first modal">
	<div class="ui header">配送地址</div>
	<div class="content">
		<div class="ui items" id="addresses">
			{% for address in user.addresses %}
			<div class="item">
				<div class="middle aligned content">
					<div class="ui radio checkbox">
						<input name="address" class="hidden" type="radio">
					</div>
					<div class="header">{{address.contact_name}}</div>
					<div class="meta">{{address.mobile}}</div>
					<div class="description">{{address.address}}</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="actions">
		<div class="ui orange button" id="new-address">增加新地址</div>
		<div class="ui cancel button">取消</div>
		<div class="ui approve button">确定</div>
	</div>
</div>
<div class="ui coupled second modal">
	<div class="ui header">新增配送地址</div>
	<form class="ui form basic segment" id="new-address-form">
	<div class="required field">
		<label>联系人</label>
		<input name="contact" placeholder="张三" type="text">
	</div>
	<div class="required field">
		<label>联系人手机</label>
		<input name="mobile" placeholder="18053214078" type="text">
	</div>
	<div class="required field">
		<label>联系人地址</label>
		<input name="address" placeholder="青岛市李沧区九水路227号一层南门卡诺烘焙" type="text">
	</div>
	</form>
	<div class="actions">
		<div class="ui cancel button">取消</div>
		<div class="ui approve button">确定</div>
	</div>
</div>
{% endblock %}
{% block inline_script_section %}
<script>
$(document).ready(function(){
	$('.coupled.modal').modal({
		allowMultiple: true,
	});
	$('#location-btn').click(function(){
		$('.first.modal')
		.modal({
			closeable: false,
			onDeny: function() {
				console.log('Deny');
			},
			onApprove: function() {
				var $target_location = $('#target-location');
				$contents = $('#addresses > .item > .content > .checkbox');
				for (var $cb of $contents) {
					$cb = $($cb);
					if ($cb.checkbox('is checked')) {
						var to_name = $cb.siblings('.header').html();
						var to_mobile = $cb.siblings('.meta').html();
						var to_address = $cb.siblings('.description').html();
						console.log(to_name);
						$target_location.children('.header').html(to_name);
						$target_location.children('.meta').html(to_mobile);
						$target_location.children('.description').html(to_address);
						$target_location.siblings('input[name="target-location"]').attr('value', $cb.data('code'));
						$target_location.siblings('input[name="contact"]').attr('value', to_name);
						$target_location.siblings('input[name="mobile"]').attr('value', to_mobile);
						$target_location.siblings('input[name="address"]').attr('value', to_address);
						break;
					}
				}
			}
		})
		.modal('show');
	});
	$('.ui.second.modal')
		.modal('attach events', '.first.modal #new-address')
		.modal({
			onApprove: function() {
				if (!$('#new-address-form').form('is valid')) {
					return false;
				}

				var fields = $new_address_form.form('get values');
				var data = JSON.stringify({"contact": fields.contact, "mobile": fields.mobile, "address": fields.address, "user": {{user.id}}});

				$.ajax({
					url: "{{url_for('.my_address')}}",
					contentType:  'application/json',
					data: data,
					method: 'PUT',
					dataType: 'json',
					statusCode: {
						200: function(info) {
							console.log(info);
							var $item = $('<div class="item"></div>');
							var $content = $('<div class="middle aligned content"></div>');
							var $radio = $('<div class="ui radio checkbox"><input name="address" checked class="hidden" type="radio"></div>');
							$radio.data('code', info.code);
							var $header = $('<div class="header"></div>');
							$header.html(fields.name + " " + fields.mobile);
							var $meta = $('<div class="meta"></div>');
							$meta.html(fields.address);
							$radio.appendTo($content);
							$header.appendTo($content);
							$meta.appendTo($content);
							$content.appendTo($item);
							$item.appendTo($('#addresses'));
							$radio.checkbox();

							return true;
						},
						400: function(info) {
							$('.ui.error.message').html('error');
							return false;
						}
					}
				});
			}
		});
	$('#action-form').form({
		on: 'blur',
		fields: {
			contact: {
				identifier: 'contact',
				rules: [
					{
					type: 'empty',
					prompt: '请选择联系人信息'
					}
				]
			},
			mobile: {
				identifier: 'mobile',
				rules: [
					{
					type: 'empty',
					prompt: '请选择联系人手机信息'
					}
				]
			},
			address: {
				identifier: 'address',
				rules: [
					{
					type: 'empty',
					prompt: '请选择联系人地址信息'
					}
				]
			},
			date: {
				identifier: 'date',
				rules: [
					{
					type: 'empty',
					prompt: '请输入使用日期（纪念日生日等）'
					}
				]
			},
			time: {
				identifier: 'time',
				rules: [
					{
					type: 'empty',
					prompt: '请输入具体用餐时间'
					}
				]
			}
		}
	});

	var $new_address_form = $('#new-address-form');
	$new_address_form.form({
		on: 'blur',
		fields: {
			contact: {
				identifier: 'contact',
				rules: [
				{
					type: 'empty',
					prompt: '输入联系人姓名'
				}
				]
			},
			mobile: {
				identifier: 'mobile',
				rules: [
				{
					type: 'exactLength[11]',
					prompt: '请输入收件人的手机号码'
				}
				]
			},
			address: {
				identifier: 'address',
				rules: [
					{
					type: 'empty',
					prompt: '请选择配送信息'
					}
				]
			}
		}
	});
	$('.ui.radio.checkbox').checkbox();
});
</script>
{% endblock %}
