{% extends "base.html"%}
{% block external_css %}
{% endblock %}
{% block main_content_section %}
<div class="ui container">
	<h2 class="ui icon header">
		<i class="cloud icon"></i>
		<div class="content">
			Images
			<div class="sub header">Manage your account settings and set e-mail preferences.</div>
		</div>
	</h2>
	<form action="/gallery/image/upload" method="POST" enctype="multipart/form-data">
		<div class="ui input">
			<input id="file-temp" type="file" style="display:none">
			<button id="file-selector" class="ui labeled icon button" type="button">
				<i class="file image outline icon"></i>Select a file to Upload
			</button>
			<button class="ui labeled icon button">
				<i class="upload icon"></i>Start to upload
			</button>
		</div><div id="upload-files"></div>
		<div id="upload-files-preview" class="ui large images">
		</div>
	</form>
</div>
{% endblock %}
{% block special_script_section %}
{% endblock %}
{% block inline_script_section %}
<script>
$('#file-selector').on('click', function(e) {
	$('#file-temp').click();
});

$('#file-temp').on('change', function(e) {
	var name = e.target.files[0].name;
	var file = e.target.files[0];
	//$('input:text', $(e.target).parent()).val(name);
	var obj = $("#file-temp").clone();
	obj.removeAttr('id');
	obj.attr('name', 'upload-image');
	obj.appendTo("#upload-files");
	//var file_html = '<input name="uploads" type="file" value="' + e.target.value + '">';
	var path = URL.createObjectURL(e.target.files[0]);
	var img_html = '<img src="' + path + '">';
	//$("#upload-files").append(obj);
	$("#upload-files-preview").append(img_html);
	//$("#upload-files").appendTo(obj);

});
</script>
{% endblock %}
