{% extends "base.html"%}
{% block external_css %}
{% endblock %}
{% block main_content_section %}
<div class="ui container">
	<h2 class="ui icon header">
		<i class="cloud icon"></i>
		<div class="content">Images
		<div class="sub header">Manage your account settings and set e-mail preferences.</div>
      </div>
	</h2>
<div class="ui small rounded images">
    {% for image in images %}
    <a href="/gallery/image/{{image.name}}">
        <img src="/gallery/media/{{image.name}}.{{image.ext}}">
	</a>
    {% endfor %}
</div>
</div>
{% endblock %}
{% block special_script_section %}
{% endblock %}
{% block inline_script_section %}
<script>
$('input:text, .ui.button', '.ui.action.input').on('click', function(e) {
	$('input:file', $(e.target).parents()).click();
});

$('input:file', '.ui.action.input').on('change', function(e) {
	var name = e.target.files[0].name;
	$('input:text', $(e.target).parent()).val(name);
});
</script>
{% endblock %}
