{% extends "base-admin.html" %}
{% block main_content_section %}
<div class="ui basic segment">
	<h2 class="ui dividing header">
		<i class="square icon"></i>
		<div class="content">
			{% if product %}修改产品-{{product.name}}{%else%}新增产品{%endif%}
			<div class="sub header">Manage your product.</div>
		</div>
	</h2>
  <form class="ui form" method="POST" action="{{url_for('.product_detail')}}{%if product %}?code={{ product.code }}{%else%}?new=1{%endif%}">
	  <div class="inline field">
		  <label>产品编码</label>
		  {% if product %}
		  <input id="inputcode" name="inputcode" type="text" value="{{ product.code }}" disabled="true">
		  {% else %}
		  <input id="inputcode" name="inputcode" placeholder="0000000000000" type="text">
		  {% endif %}
	  </div>
	  <div class="inline field">
		  <label for="inputname">产品名称</label>
		  <input id="inputname" name="inputname" placeholder="面包" type="text" value="{{ product.name }}">
	  </div>
	  <div class="inline field">
		  <label for="inputenglishname">英语名称</label>
			  <input id="inputenglishname" name="inputenglishname" placeholder="Bread" type="text" value="{{ product.english_name }}">
	  </div>
	  <div class="inline field">
		  <label for="inputpinyin">拼音</label>
			  <input id="inputpinyin" name="inputpinyin" placeholder="请输入名称拼音首字母" type="text" value="{{ product.pinyin }}">
	  </div>
	  <div class="inline field">
		  <label for="inputname">产品分类</label>
		  <select name="categoryparameter" class="ui dropdown">
			  {% for c in categories %}<option value="{{ c.id }}"{%if c.id == product.category_id %} selected{%endif%}>{{ c }}</option>{% endfor %}
		  </select>
	  </div>
	  <div class="inline field">
		  <label for="inputoriginal">原价</label>
		  <div class="ui labeled input">
			  <div class="ui label">￥</div>
			  <input id="inputoriginalprice" name="inputoriginalprice" placeholder="5.8" type="text" value="{{ product.original_price }}">
		  </div>
	  </div>
	  <div class="inline field">
		  <label for="inputprice">现价</label>
		  <div class="ui labeled input">
			  <div class="ui label">￥</div>
			  <input id="inputprice" name="inputprice" placeholder="5.8" type="text" value="{{ product.price }}">
		  </div>
	  </div>
	  <div class="inline field">
		  <label for="inputmemberprice">会员价</label>
		  <div class="ui labeled input">
			  <div class="ui label">￥</div>
			  <input id="inputmemberprice" name="inputmemberprice" placeholder="5.8" type="text" value="{{ product.member_price }}">
		</div>
	  </div>
	  <div class="inline field">
		  <label for="inputstock">库存</label>
			  <input id="inputstock" name="inputstock" placeholder="5.8" type="text" value="{{ product.stock }}">
	  </div>
	  <div class="ui segment">
		  <div class="inline field">
			  <div class="ui checkbox">
				  <input type="checkbox" class="ui checkbox" name="checkweb" id="checkweb" {%if product.is_available_on_web%}checked{%endif%}>
				  <label for="checkweb">WEB端显示</label>
			  </div>
		  </div>
	  </div>
	  <div class="ui segment">
		  <div class="inline field">
			  <div class="ui checkbox">
				  <input type="checkbox" class="ui checkbox" name="checkpos" id="checkpos" {%if product.is_available_on_pos%}checked{%endif%}>
				  <label>POS端显示</label>
			  </div>
		  </div>
	  </div>
	  <div class="ui segment">
		  <div class="inline field">
			  <div class="ui checkbox">
				  <input type="checkbox" class="ui checkbox" id="checkpoint" name="checkpoint" {%if product.to_point%}checked{%endif%}>
				  <label>参与积分</label>
			  </div>
		  </div>
	  </div>
	  <div class="fields">
		  <div class="inline field">
			  <label for="input-image">产品图片</label>
			  <button id="product-image-new" type="button" class="mini circular ui icon button"><i class="plus icon"></i></button>
		  </div>
		  <div class="ui six doubling cards" id="product-images"></div>
	  </div>
	  {% for oc in parameter_categories %}
	  {% if oc.parameters.all() %}
	  <div class="fields">
		  <div class="inline field">
		  <label for="inputname-{{oc.id}}">{{oc}}</label>
		  <button id="product-parameter-{{oc.id}}-new" type="button" class="mini circular ui icon button"><i class="icon plus"></i></button>
		  </div>
		  <div class="inline field" id="parameters-{{oc.id}}">
		  </div>
	  </div>
	  {% endif %}
	  {% endfor %}
	  <div class="inline field">
	  <div class="field">
		  <label for="inputdesc">描述</label>
		  <textarea name="inputdesc" rows="3">{{ product.description }}</textarea>
	  </div>
          <button type="submit" class="ui primary right button">保存</button>
	  </div>
  <div id="image-selector" class="ui large modal">
	  <i class="close icon"></i>
	  <div class="header"><i class="image icon"></i>Product Image Selector</div>
	  <div class="image content">
		  <div class="ui four special cards">
			{% for image in images %}
			<div class="card">
				<div class="blurring dimmable image" data-name="{{image.name}}" data-src="/gallery/media/{{image.name}}.{{image.ext}}">
				  <div class="ui dimmer">
					  <div class="content">
						  <div class="center">
							  <div class="ui inverted"><i class="checkmark huge icon"></i></div>
						  </div>
					  </div>
				  </div>
					<img src="/gallery/media/{{image.name}}.{{image.ext}}">
			  </div>
				<div class="extra center aligned">{{image.upload_name}}</div>
			</div>
			{% endfor %}
		  </div>
	  </div>
	  <div class="actions">
		  <div class="ui buttons">
			  <div class="ui cancel red basic button">
				  <i class="remove icon"></i>
				  No
			  </div>
			  <div class="ui ok green basic button">
				  <i class="checkmark icon"></i>
				  Yes
			  </div>
		  </div>
	  </div>
  </div>
  </form>
</div>
{% endblock %}
{% block inline_script_section %}
<script>
PRODUCT = {
	setParameters: function(category_id, selected_option, option_values, options, price, stock) {
		console.log(category_id);
		var htmlString = '<div class="inline field"><select name="parameter-' + category_id + '" class="ui dropdown">';
		for (var index in options) {
			var option_html = '<option value="' +  option_values[index] + '"';
			if (option_values[index] == selected_option)
				option_html += ' selected'
			option_html += '>' + options[index] +'</option>';
			htmlString += option_html;
		}
		htmlString += '</select>';
		htmlString += '<input name="inputparameter-' + category_id + '-price" type="text" value="' + price +'" placeholder="价格">';
		htmlString += '<input name="inputparameter-' + category_id + '-stock" type="text" value="' + stock +'" placeholder="库存">';
		htmlString += '<button class="mini circular ui icon orange button" type="button" onclick="javascript:remove_line(this)"><i class="icon remove"></i></button></div>';
		$("#parameters-" + category_id).append(htmlString);
		$('select.dropdown').dropdown();
	}
};
$(document).ready(function(){
    {% for po in product.parameters %}
	var option_values = [{% for o in po.parameter.category.parameters %}"{{o.id}}",{%endfor%}];
	var options = [{% for o in po.parameter.category.parameters %}"{{o}}",{%endfor%}];
	var category_id = "{{po.parameter.parameter_category_id}}";
	var selected_option = "{{po.parameter_id}}";
	var price = "{{po.plus_price}}";
	var stock = "{{po.stock}}";
	PRODUCT.setParameters(category_id, selected_option, option_values, options, price, stock);
    {% endfor %}

	{% for oc in parameter_categories %}
	var option_values_{{oc.id}} = [{% for o in oc.parameters %}"{{ o.id }}",{% endfor %}];
	var options_{{oc.id}} = [{% for o in oc.parameters %}"{{ o }}",{% endfor %}];
	$("#product-parameter-{{oc.id}}-new").click(function(){
		PRODUCT.setParameters("{{oc.id}}", '', option_values_{{oc.id}}, options_{{oc.id}}, '', '');
	});
	{% endfor %}

	var images = [];
	var images_add = []
	var show_product_image = function(){
		var imageHtml = "";
		for (var name in images){
			imageHtml += '<div class="card"><div class="blurring dimmable image"><div class="ui dimmer"><div class="content"><div class="center"><div class="ui inverted"><i class="remove huge icon"></i></div></div></div></div><img src="'  + images[name] + '"><input type="hidden" value="' + name +'" name="product-image"></div></div>';
		}
		for (var name in images_add){
			imageHtml += '<div class="card"><div class="blurring dimmable image"><div class="ui dimmer"><div class="content"><div class="center"><div class="ui inverted"><i class="remove huge icon"></i></div></div></div></div><img src="'  + images_add[name] + '"><input type="hidden" value="' + name +'" name="product-image"></div></div>';
		}
		$("#product-images").html(imageHtml);
		$('#product-images .image').dimmer({
			on: 'click'
		}).click(function(){
			if ($(this).dimmer("is active")){
				console.log('active');
				$(this).find("input[type=hidden]").attr('name', 'product-image');
			} else {
				console.log('not active');
				$(this).find("input[type=hidden]").attr('name', 'product-image-remove');
			}
		});
	}
	{% for pi in product.images %}
	images["{{pi.image.name}}"] = "/gallery/media/{{pi.image.name}}.{{pi.image.ext}}";{% endfor %}
	$("#product-image-new").click(function(){
		$('#image-selector')
		.modal({
			closable: false,
			onApprove: show_product_image
		})
		.modal('show');
	});

	$('select.dropdown').dropdown();
	$('div.dropdown').dropdown();
	$('.ui.checkbox').checkbox();
	$('.special.cards .image').dimmer({
		on: 'click'
	}).click(function(){
		if (!$(this).dimmer("is active")) {
			console.log($(this).data('name'));
			console.log($(this).data('src'));
			images_add[$(this).data('name')] = $(this).data('src');
			//imageHtml += '<img src="' + imageSrc + '"><input type="hidden" value="' + imageName +'" name="product-image">';
		} else {
			console.log('pop');
			//images.pop(($(this).data('name'));
			//var index = images_add.indexOf($(this).data('name'));
			//console.log(index);
			//images_add.splice(index, 1);
			delete images_add[$(this).data('name')];
		}
	});

	show_product_image();
});

function remove_line(line)
{
	var this_line = line.parentNode;
	this_line.parentNode.removeChild(this_line);
}
</script>
{% endblock %}
