.my-segment {
	position: relative;
	background: #fff;
	margin: 0 0;
	padding: 0 0.5em;
	/*color: #730202;*/
    /* margin: 1rem 0; */
    /* padding: 1em 1em; */
}
.my-cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0em, -0.5em;
}

.my-card {
	flex-direction: column;
	display: flex;
	width: 50%;
	padding: .2em;
	/*margin:.875em .5em;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
	border-radius: .28571429rem;
	float:none;
	font-size:1em;
	border: 0; */
}

.my-card > .my-image {
	position: relative;
    display: inline-block;
    vertical-align: middle;
	width: 150px;
    max-width: 100%;
	height: auto;
    background-color: transparent;
}

.my-card > .content {
	border:none;
	margin:0;
	/*padding: 0.25em, 0.25em; */
}

.my-card > .content > .header {
	font-weight:700;
	font-size:1.1em;
	margin-top:0.21425em;
}

.my-card > .content > .description {
	font-size:0.9em;
	color:rgba(0,0,0,.6);
}

.my-card > .content > .meta {
	padding-top: 0.3em;
	color:rgba(0,0,0,.4);
}

.my-card > .content > .meta > .price {
	font-size: 0.9em;
	vertical-align: bottom;
}

.my-card > .content > .meta > .addtocart {
	font-weight:700;
	font-size: 1.8em;
	float: right;
	color: #d94b047f;
	cursor: pointer;
}

.my-card > .extra {
	/*border-top:1px solid rgba(0,0,0,.05)!important; */
	max-width:100%;
	color:rgba(0,0,0,.4);
	transition: color .1s ease;
	padding:.75em 1em;
}

.my-fixed-cart {
	position:fixed;
	width:3em;
	height: 3em;
	z-index: 10em;
    left: 0.6em;
	bottom: 3.3em;
	background-color: #d94b047f;
	border-radius: 50%;
	text-align: center;
}

.my-fixed-cart > i {
	position: relative;
	bottom: -.5em;
	font-size: 1.5em;
	color: #7302027f;
}

.banner {
	margin-top: -3em;
	margin-bottom: 1em;
	text-align: center;
	transition: .3s;
	transform: translate3d(0, 0, 0);
}

.banner-item {
	height: .5em;
	width: 1.5em;
	/*border-radius: 3.5em !important;*/
	border: .0625em solid #C69C6D;
	display: inline-block;
	background: none !important;
	margin-left: 1.5em;
	z-index: 1em;
}

.banner-item-active {
	background: #C69C6D !important;
}

.store-info {
    background-color: #fff;
    margin-bottom: .875em;
}

.store-info li {
    overflow: hidden;
    /*margin-bottom: .5em; */
	margin-left: -2.5em;
}

.store-info li img {
    height: 1em;
    width: auto;
    /*display: block;
    vertical-align: top;
    float: left;*/
}

.store-info li span {
    /*display: block;
    width: 4em;*/
    vertical-align: top;
    text-align: center;
    margin-left: .5em;
}

.sweet-degree i.active {
    background-image: url(/static/img/sweet.png);
}
.sweet-degree i {
    display: inline-block;
    background: url(/static/img/sweet-empty.png) no-repeat center;
    height: 1em;
    width: 1em;
    background-size: 100%;
    margin-right: .625em;
}

.announce-info li {
	overflow: hidden;
	margin-left: -2.5em;
}

.add-cart-button {
	position: fixed;
	background-color: #442818;
    height: 3em;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: #fff;
	line-height: 3em;
}