{% extends "admin/my-base.html"%}
{% block body %}
<div class="ui basic segment" style="margin-top:3em">
	<form action="{{upload_action}}" method="POST" enctype="multipart/form-data">
		<div class="ui input" id="file-selector-div">
			<input type="file" style="display:none;">
		</div>
		<button id="file-selector" class="ui orange labeled icon button" type="button">
			<i class="file image outline icon"></i>选择文件
		</button>
		<button class="ui positive labeled icon button">
			<i class="upload icon"></i>开始上传
		</button>
		<div id="upload-files"></div>
		<div id="upload-files-preview" class="ui six doubling cards" style="margin-top:.1em;"></div>
	</form>
</div>
<div class="ui basic segment">
    <h4 class="ui horizontal divider header">
      <i class="block layout icon"></i>图册
    </h4>
    <div class="ui six stackable cards">
        {% for image in data %}
		<div class="card" id="card-{{image.name}}">
            <div class="image">
                <img src="/media/{{image.name}}.{{image.ext}}">
            </div>
            <div class="content">
                <div class="header">{{image.upload_name}}</div>
                {%- if image.title -%}
                <div class="meta">{{image.title}}</div>
                {%- endif -%}
                {%- if image.description -%}
                <div class="description">{{image.description}}</div>
                {%- endif -%}
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic negative button" href="/image/{{image.name}}" data-show="{{image.upload_name}}" data-name="{{image.name}}" data-ext="{{image.ext}}">删除</div>
                <a class="ui basic positive button" href="{{url_for('.image_detail', image_name=image.name)}}">编辑</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="ui modal" id="remove-modal">
	<div class="header" id="modal-header">删除图片</div>
	<div class="content">
		<p>请确认从系统里删除图片：<strong id="modal-name"></strong></p>
	</div>
	<div class="actions">
		<div class="ui green deny button">不删除</div>
		<div class="ui red approve button">删除</div>
	</div>
</div>
<div class="ui modal" id="error-message">
	<div class="header" id="modal-header">无法删除图片</div>
	<div class="content">
		<p>无法删除图片该图片，该图片正在被其他元素使用</p>
	</div>
	<div class="actions">
		<div class="ui approve button">好</div>
	</div>
</div>
{% endblock %}
{% block tail_js %}
<script>
$('#file-selector').click(function(e) {
	$('div.input input:file').click();
});

function change_event(e) {
	var name = e.target.files[0].name;
	var file = e.target.files[0];
	$(this).attr('name', 'upload-image');
	$(this).appendTo("#upload-files");
	$('#file-selector-div').html('<input type="file" style="display:none;">');
	$('div.input input:file').change(change_event);
	var path = URL.createObjectURL(file);
	var img_html = '<div class="card"><div class="image"><img src="' + path + '"></div></div>';
	$("#upload-files-preview").append(img_html);
}

$('div.input input:file').change(change_event);

$('div.negative.button').click(function(e){
	$('#modal-header').html('删除图片-' + $(this).data('show'));
	$('#modal-name').html($(this).data('name'));
	$("#remove-modal")
		.modal('setting', 'closable', false)
		.modal({
			closable: false,
			allowMultiple: true,
			onApprove: function(){
                //$.post('{{url_for(".image_delete")}}', {name: '"' + $('#modal-name').html() + '"'}, dataType='json')
                $.post('{{url_for(".image_delete")}}', {name: $('#modal-name').html()})
                    .done(function(result){
                        if (result.errcode == 0)
                            $('div[id="card-' + $('#modal-name').html() + '"]').remove();
                    })
                    .fail(function(result){
						$('#error-message').modal('show');
                    });
			}
		})
		.modal('show');
});
$(document).ready(function(){
	$('.ui.checkbox').checkbox();
	$('.ui.dropdown').dropdown();
});
</script>
{% endblock %}
