<div class="ui modal" id="pre-cart">
    <i class="close icon"></i>
    <div class="header" id="pre-cart-title">￥178</div>
    <div class="image content">
    <div class="ui mobile equal width grid">
        <div class="column">
            <p><i class="circle icon"></i>15x15cm</p>
            <p><i class="food icon"></i>含有5套餐具</p>
        </div>
        <div class="column">
            <p><i class="users icon"></i>适合2-4人分享</p>
            <p><i class="time icon"></i>必须提前4小时预定</p>
        </div>
    </div><br>
        <img id="pre-cart-image" class="ui image">
        <div class="description" id="size-buttons">{#
            <div class="ui basic toggle button" data-size="6">6寸</div>
            <div class="ui basic toggle button" data-size="8">8寸</div>
            <div class="ui basic toggle button" data-size="10">10寸</div>
            <div class="ui basic toggle button" data-size="12">12寸</div>#}
        </div>
    </div>
    <div class="actions" id="pre-add-to-cart">
        <div class="ui brown button">加入购物车</div>
    </div>
</div>
<div class="ui longer modal" id="shop-cart">
    <i class="close icon"></i>
    <div class="header">
        购物车
    </div>
    <div id="cart-list" class="image content">
        {#<div class="ui relaxed list">
            <div class="item">
                <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
                <div class="content">
                <a class="header">Daniel Louise</a>
                <div class="description">Last seen watching <a><b>Arrested Development</b></a> just now.</div>
                </div>
            </div>
        </div>#}
    </div>
    <div class="actions">
        <div class="ui brown button" id="pay-action-button">去支付</div>
    </div>
</div>