<div class="ui raised segment">
	<div class="ui info icon message">
		<i class="shipping icon"></i>
		<div class="content">
			<div class="header">
				双方约定发货时间
			</div>
			<ul class="list">
			<li>根据顾客用餐时间，提前0.5~1小时发货</li>
			<li>使用滴滴打车发货，请在此时间保持电话畅通，以便司机师傅联系您</li>
			<li>如果联系方式有变动，敬请提前告知</li>
			</ul>
		</div>
	</div>
    <div class="ui negative icon message">
        <i class="info letter icon"></i>
        <div class="content">
            <div class="header">保鲜提示</div>
            <ul class="list">
                <li>最佳赏味期两天，收到后请尽快吃完</li>
                <li>收到后冷藏仅保鲜2天，不含任何化学添加剂和防腐剂</li>
            </ul>
        </div>
    </div>
    <div class="ui negative icon message">
        <i class="info letter icon"></i>
        <div class="content">
            <div class="header">收货提示</div>
            <ul class="list">
                <li>您在收到商品时，请根据我们的发货单 仔细检查验收所收到的商品，验收无误后再进行签收，如果发现商品短少、缺失、脏污、破损、配送错误等问题，请当场指出，务必与我们的客服人员联系确认，我们将重新为您配送；</li>
                <li>如订购的商品出现断货现象，客服人员会及时与您联系，寻求您的意见，更改或取消订单，若您已支付货款，取消订单，我们会及时将货款为您退回；</li>
                <li>如遇天气，不可抗力因素造成食品到达时已过保质期，请及时联系客服；</li>
                <li>蛋糕、面包和饼干在配送过程中难免出现挤压、破损等小瑕疵，在不影响安全卫生食用的前提下，我们不予重新配送，请您当场验货，并与送货人员同时拍照上传给客服；</li>
            </ul>
        </div>
    </div>
</div>
